 @import "slick-carousel/slick/slick.css";
 @import "slick-carousel/slick/slick-theme.css";
 @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 /* ---------- Root Color Variables ---------- */
 :root {
   --color-gold: #d4af37;
   --color-gold-light: #f7e9b8;
   --color-dark: #222222;
   --color-light: #fdfcf9;
 }

 /* ---------- Base Body Styles ---------- */
 body {
   background-color: var(--color-light);
   color: var(--color-dark);
   margin: 0;
   padding: 0;
    font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
 }

 /* ---------- Scrollbar Hide ---------- */
 .scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
 .scrollbar-hide::-webkit-scrollbar {
   display: none;
 }

 /* ---------- Custom Animations ---------- */
 @keyframes wiggle {
   0%, 7% {
     transform: rotateZ(0);
   }
   15% {
     transform: rotateZ(-15deg);
   }
   20% {
     transform: rotateZ(10deg);
   }
   25% {
     transform: rotateZ(-10deg);
   }
   30% {
     transform: rotateZ(6deg);
   }
   35% {
     transform: rotateZ(-4deg);
   }
   40%, 100% {
     transform: rotateZ(0);
   }
 }


 .alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
