 @import "slick-carousel/slick/slick.css";
 @import "slick-carousel/slick/slick-theme.css";
 @import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 /* ---------- Root Color Variables ---------- */
 :root {
   --color-gold: #d4af37;
   --color-gold-light: #f7e9b8;
   --color-dark: #222222;
   --color-light: #fdfcf9;
 }

 /* ---------- Base Body Styles ---------- */
 body {
   background-color: var(--color-light);
   color: var(--color-dark);
   margin: 0;
   padding: 0;
   font-family: "Alice", serif;
   font-weight: 400;
   font-style: normal;
 }

 /* ---------- Heading Styles ---------- */
 h1, h2, h3, h4, h5, h6 {
   font-family: "Playfair Display", serif;
   font-weight: 700;
 }

 /* ---------- Scrollbar Hide ---------- */
 .scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
 .scrollbar-hide::-webkit-scrollbar {
   display: none;
 }

 /* ---------- Custom Animations ---------- */
 @keyframes wiggle {
   0%, 7% {
     transform: rotateZ(0);
   }
   15% {
     transform: rotateZ(-15deg);
   }
   20% {
     transform: rotateZ(10deg);
   }
   25% {
     transform: rotateZ(-10deg);
   }
   30% {
     transform: rotateZ(6deg);
   }
   35% {
     transform: rotateZ(-4deg);
   }
   40%, 100% {
     transform: rotateZ(0);
   }
 }


 .alice-regular {
   font-family: "Alice", serif;
   font-weight: 400;
   font-style: normal;
 }

 .playfair-display {
   font-family: "Playfair Display", serif;
   font-weight: 700;
 }

/* ---------- Service Slider Styles ---------- */
.service-slider .slick-prev,
.service-slider .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.service-slider .slick-prev {
  left: 15px;
}

.service-slider .slick-next {
  right: 15px;
}

.service-slider .slick-prev:before,
.service-slider .slick-next:before {
  font-size: 40px;
  opacity: 0.8;
}

.service-slider .slick-dots {
  bottom: 15px;
}

.service-slider .slick-dots li button:before {
  font-size: 12px;
  color: #d4af37;
  opacity: 0.5;
}

.service-slider .slick-dots li.slick-active button:before {
  color: #d4af37;
  opacity: 1;
}
